---
{% for host in groups['all'] %}
{{ hostvars[host]['inventory_hostname'] | indent(width=0)}}:
  all_ipv4_addresses:
{{hostvars[host]['ansible_all_ipv4_addresses'] | to_nice_yaml(2) | indent(width=4, indentfirst=true)}}
  enos_devices:
{{hostvars[host]['enos_devices'] | to_nice_yaml(2) | indent(width=4, indentfirst=true)}}
  devices:
{% for enos_device in hostvars[host]['ansible_interfaces'] %}
  -
{{ hostvars[host]['ansible_' + enos_device] | to_nice_yaml(2) | indent(width=4, indentfirst=true)}}
{% endfor %}
{% endfor %}
