- name: Detecting GPU and specific runtime
  apt:
    name: pciutils
    state: present

# test if we can find an nvidia device and associated runtime
- name: To support GPU metrics you need an nvidia card and the nvidia-container-toolkit installed
  shell: >
    (lspci| grep -i nvidia) && (dpkg -l | grep nvidia-container-toolkit)
  register: stdout
  ignore_errors: yes

# gpu case
- name: (gpu) Preparing agents
  set_fact:
    has_gpu: yes
    c_device_request:
    - driver: nvidia
      count: -1
      capabilities:
      - - gpu
        - utility
      # See https://github.com/NVIDIA/nvidia-container-runtime#supported-driver-capabilities
      # for a list of capabilities supported by the nvidia driver
    c_env:
        HOST_PROC: "/rootfs/proc"
        HOST_SYS: "/rootfs/sys"
        NVIDIA_VISIBLE_DEVICES: "all"
  when:
  - stdout is defined
  - stdout.rc == 0

# non gpu case (default)
- name: (non gpu) Preparing agents
  set_fact:
    has_gpu: no
    c_device_request: []
    c_env:
        HOST_PROC: "/rootfs/proc"
        HOST_SYS: "/rootfs/sys"
  when: stdout is not defined or stdout.rc != 0