---
workflow:
  rules:
    - if: $CI_COMMIT_REF_NAME =~ /dbg\//
      when: never
    - if: $CI_COMMIT_REF_NAME =~ /dev\// && $CI_COMMIT_TITLE =~ /WIP/
      when: never
    - if: $CI_MERGE_REQUEST_ID
      when: never
    - when: always

stages:
  - precheck
  - invivog5k-deb11
  - invivog5k-deb12
  - test
  - functional
  - package
  - publish

variables:
  DEBIAN_FRONTEND: noninteractive
  TZ: Europe/Paris
  GIT_SUBMODULE_STRATEGY: normal
  TOX_PACKAGE: "tox<4"
  FUNCTIONAL_TESTS: test_static_run_command.py test_static_gather_facts.py test_static_play_on.py test_static_run_ansible.py test_static_tasks.py test_sync_info.py test_dstat.py

###############################################################################
#
#                             PRECHECK STAGE
#
###############################################################################
precheck:
  image: python:3.13
  stage: precheck
  tags: [ci.inria.fr]
  script:
    - pip install pre-commit
    - pre-commit run --all-files

###############################################################################
#
#                             G5K STAGE
#
###############################################################################
test_invivo_g5k_1$debian11$: &test_invivo_g5k_1
  # stick to the distribution we'll find on g5k frontends
  image: debian:11
  stage: invivog5k-deb11
  tags: [ci.inria.fr]
  # Always run on tagged commits, and also allow manual runs at any time.
  # In all cases, don't fail the pipeline, this is mostly informative.
  rules:
    - if: $CI_COMMIT_TAG
      when: on_success
      allow_failure: true
    - when: manual
      allow_failure: true
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv iproute2 cmake zlib1g-dev libssl-dev libffi-dev ssh
    - ip a
    - python3 -m venv /venv
    - /venv/bin/python3 -m pip install -e .
    - mkdir -p ~/.ssh
    - rm -f ~/.ssh/*
    - cat $PRIVATE_KEY > ~/.ssh/id_rsa
    - cat $PUBLIC_KEY > ~/.ssh/id_rsa.pub
    - chmod 600 ~/.ssh/id_rsa
    - cat $PYTHON_G5K > ~/.python-grid5000.yaml
    - cd docs/tutorials/
    - unset LD_PRELOAD  # Avoid transparent cache that can cause timeouts https://ci.inria.fr/doc/page/gitlab/#transparent-cache
    - /venv/bin/python3 grid5000/tuto_grid5000_commands.py || /venv/bin/python3 cleanup_g5k_job.py tuto_grid5000_commands.py
    - /venv/bin/python3 grid5000/tuto_grid5000_deploy.py || /venv/bin/python3 cleanup_g5k_job.py tuto_grid5000_deploy.py
    - /venv/bin/python3 grid5000/tuto_grid5000_deploy_centos.py || /venv/bin/python3 cleanup_g5k_job.py tuto_grid5000_deploy_centos.py
    - /venv/bin/python3 grid5000/tuto_grid5000_reload.py || /venv/bin/python3 cleanup_g5k_job.py tuto_grid5000_reload.py
    - /venv/bin/python3 grid5000/tuto_grid5000_docker_nvidia.py || /venv/bin/python3 cleanup_g5k_job.py tuto_grid5000_docker_nvidia.py
    - /venv/bin/python3 grid5000/tuto_grid5000_monitoring_service.py || /venv/bin/python3 cleanup_g5k_job.py tuto_grid5000_monitoring_service.py

# Second batch of tests to parallelize a bit
test_invivo_g5k_2$debian11$: &test_invivo_g5k_2
  # stick to the distribution we'll find on g5k frontends
  image: debian:11
  stage: invivog5k-deb11
  tags: [ci.inria.fr]
  # Always run on tagged commits, and also allow manual runs at any time.
  # In all cases, don't fail the pipeline, this is mostly informative.
  rules:
    - if: $CI_COMMIT_TAG
      when: on_success
      allow_failure: true
    - when: manual
      allow_failure: true
  script:
    - apt update
    - apt install -y python3 python3-pip python3-venv iproute2 cmake zlib1g-dev libssl-dev libffi-dev ssh
    - ip a
    - python3 -m venv /venv
    - /venv/bin/python3 -m pip install -e .
    - mkdir -p ~/.ssh
    - rm -f ~/.ssh/*
    - cat $PRIVATE_KEY > ~/.ssh/id_rsa
    - cat $PUBLIC_KEY > ~/.ssh/id_rsa.pub
    - chmod 600 ~/.ssh/id_rsa
    - cat $PYTHON_G5K > ~/.python-grid5000.yaml
    - cd docs/tutorials/
    - unset LD_PRELOAD  # Avoid transparent cache that can cause timeouts https://ci.inria.fr/doc/page/gitlab/#transparent-cache
    - /venv/bin/python3 vmong5k/tuto_vmong5k_home.py || /venv/bin/python3 cleanup_g5k_job.py tuto_vmong5k_home.py
    - /venv/bin/python3 grid5000/tuto_grid5000_multisites.py || /venv/bin/python3 cleanup_g5k_job.py tuto_grid5000_multisites.py
    - /venv/bin/python3 grid5000/tuto_grid5000_docker.py || /venv/bin/python3 cleanup_g5k_job.py tuto_grid5000_docker.py
    - /venv/bin/python3 grid5000/tuto_grid5000_destroy.py || /venv/bin/python3 cleanup_g5k_job.py tuto_grid5000_destroy.py
    - /venv/bin/python3 grid5000/tuto_grid5000_kavlan_local.py || /venv/bin/python3 cleanup_g5k_job.py tuto_grid5000_kavlan_local.py

# Run same tests on Debian 12 (newer Python version, allows newer Ansible versions)
# We need to run them in a different stage, otherwise the common OAR job names cause interferences.
test_invivo_g5k_1$debian12$:
  <<: *test_invivo_g5k_1
  stage: invivog5k-deb12
  image: debian:12

test_invivo_g5k_2$debian12$:
  <<: *test_invivo_g5k_2
  stage: invivog5k-deb12
  image: debian:12


###############################################################################
#
#                             TEST STAGE
#
###############################################################################

python3.9:
  image: python:3.9
  stage: test
  tags: [ci.inria.fr]
  script:
    - pip install $TOX_PACKAGE
    - tox -e py39

python3.10:
  image: python:3.10
  stage: test
  tags: [ci.inria.fr]
  script:
    - pip install $TOX_PACKAGE
    - tox -e py310

python3.11:
  image: python:3.11
  stage: test
  tags: [ci.inria.fr]
  script:
    - pip install $TOX_PACKAGE
    - tox -e py311

python3.12:
  image: python:3.12
  stage: test
  tags: [ci.inria.fr]
  script:
    - pip install $TOX_PACKAGE
    - tox -e py312

python3.13:
  image: python:3.13
  stage: test
  tags: [ci.inria.fr]
  script:
    - pip install $TOX_PACKAGE
    - tox -e py313
  coverage: /^TOTAL\s+\d+\s+\d+\s+(\d+\%)$/
  artifacts:
    when: always
    paths:
      - htmlcov
    reports:
      junit: utest.xml
      coverage_report:
        coverage_format: cobertura
        path: cov.xml

python3.14:
  image: python:3.14
  stage: test
  tags: [ci.inria.fr]
  allow_failure: true
  script:
    - pip install $TOX_PACKAGE
    - tox -e py314

pep8:
  image: python:3.13
  stage: test
  tags: [ci.inria.fr]
  script:
    - pip install $TOX_PACKAGE
    - tox -e pep8

pylint:
  image: python:3.13
  stage: test
  tags: [ci.inria.fr]
  script:
    - pip install $TOX_PACKAGE
    - tox -e pylint

typecheck-3.9:
  image: python:3.9
  stage: test
  tags: [ci.inria.fr]
  script:
    - pip install $TOX_PACKAGE
    - tox -e typecheck

typecheck-3.13:
  image: python:3.13
  stage: test
  tags: [ci.inria.fr]
  script:
    - pip install $TOX_PACKAGE
    - tox -e typecheck

sonar:
  image: python:3.10-buster
  stage: test
  allow_failure: true
  only:
    - tags
  tags:
    - large
    - ci.inria.fr
  script:
    - pip install -e .
    - apt update
    - apt install -y wget unzip openjdk-11-jre-headless --no-install-recommends
    - pip install pylint
    - wget https://binaries.sonarsource.com/Distribution/sonar-scanner-cli/sonar-scanner-cli-4.4.0.2170-linux.zip
    - unzip sonar-scanner-cli-4.4.0.2170-linux.zip
    - mv sonar-scanner-4.4.0.2170-linux sonar
    - wget --no-check-certificate https://sonarqube.inria.fr/static/digicertca.crt
    - keytool -import -alias inria -storepass "changeit" -keystore $(pwd)/sonar/jre/lib/security/cacerts -file digicertca.crt
    - pip install $TOX_PACKAGE && tox -e py310
    - sonar/bin/sonar-scanner -X -Dsonar.login=$SONAR_LOGIN

doc:
  image: python:3.10
  stage: test
  tags: [ci.inria.fr]
  script:
    - apt update
    - apt install -y pandoc
    - pip install $TOX_PACKAGE
    - tox -e docs
  artifacts:
    paths:
      - docs/_build/html

###############################################################################
#
#                             FUNCTIONAL STAGE
#
###############################################################################

## TEST VARIOUS ANSIBLE VERSIONS
test_enoslib-ansible_7: &enoslib-ansible
  image: debian:11
  stage: functional
  tags: [ci.inria.fr]
  variables:
    ENOSLIB_ANSIBLE_VERSION: ">=7,<8"
  script:
    - |
      apt update
      # procps is required for "kill" for the dstat test
      apt install --no-install-recommends -y python3 python3-pip python3-venv iproute2 procps
      ip a
      # Create virtualenv
      python3 -m venv /tmp/venv
      . /tmp/venv/bin/activate
      python3 -m pip install -U pip wheel

      # Test several versions of ansible
      # note that
      # python3 -m pip uninstall enoslib-ansible
      # python3 -m pip install ansible${ENOSLIB_ANSIBLE_VERSION} should work too!
      # but this will install all the ansible_collections shipped with the ansible package
      python3 -m pip install enoslib-ansible${ENOSLIB_ANSIBLE_VERSION}

      # test_dstat needs pandas
      python3 -m pip install -e .[analysis]

      cd enoslib/tests/functional

      # Make sure we perform all tests and then display a summary
      failures=""
      retcode=0
      for test in ${FUNCTIONAL_TESTS}
      do
        python3 ${test} || { retcode=$?; failures="$failures $test"; }
      done
      [ -n "$failures" ] && echo "FAILED TESTS: $failures"
      exit $retcode

test_enoslib-ansible_6:
  <<: *enoslib-ansible
  variables:
    ENOSLIB_ANSIBLE_VERSION: ">=6,<7"

test_enoslib-ansible_5:
  <<: *enoslib-ansible
  variables:
    ENOSLIB_ANSIBLE_VERSION: ">=5,<6"

test_enoslib-ansible_4:
  <<: *enoslib-ansible
  variables:
    ENOSLIB_ANSIBLE_VERSION: ">=4,<5"

test_enoslib-ansible_8:
  <<: *enoslib-ansible
  variables:
    ENOSLIB_ANSIBLE_VERSION: ">=8,<9"

test_enoslib-ansible_9:
  <<: *enoslib-ansible
  # ansible 9+ only work for python>=10
  image: debian:12
  variables:
    ENOSLIB_ANSIBLE_VERSION: ">=9,<10"

test_enoslib-ansible_10:
  <<: *enoslib-ansible
  # ansible 9+ only work for python>=10
  image: debian:12
  variables:
    ENOSLIB_ANSIBLE_VERSION: ">=10,<11"

## TEST AGAINST DIFFERENT DISTROS
#-----------------------------------------------
test_functional$debian12$: &debian-base
  image: debian:12
  stage: functional
  tags: [ci.inria.fr]
  script:
    - |
      apt update
      # procps is required for "kill" for the dstat test
      apt install --no-install-recommends -y python3 python3-pip python3-venv iproute2 procps
      ip a
      # Create virtualenv
      python3 -m venv /tmp/venv
      . /tmp/venv/bin/activate
      python3 -m pip install -U pip wheel
      # test_dstat needs pandas
      python3 -m pip install -e .[analysis]
      cd enoslib/tests/functional
      # Make sure we perform all tests and then display a summary
      failures=""
      retcode=0
      for test in ${FUNCTIONAL_TESTS}
      do
        python3 ${test} || { retcode=$?; failures="$failures $(basename $test)"; }
      done
      [ -n "$failures" ] && echo "FAILED TESTS: $failures"
      exit $retcode


## debian 11
#-----------------------------------------------
test_functional$debian11$: &debian11
  <<: *debian-base
  image: debian:11


## debian testing
#-----------------------------------------------
test_functional$debiantesting$: &debiantesting
  <<: *debian-base
  image: debian:testing


## ubuntu 22.04
#-----------------------------------------------
test_functional$ubuntu2204$: &ubuntu2204
  <<: *debian-base
  image: ubuntu:22.04
  allow_failure: true

## ubuntu 24.04
#-----------------------------------------------
test_functional$ubuntu2404$: &ubuntu2404
  <<: *debian-base
  image: ubuntu:24.04
  allow_failure: true

###############################################################################
#
#                             PACKAGE STAGE
#
###############################################################################

#### Entering the release zone
package:
  image: python:3.9
  stage: package
  tags: [ci.inria.fr]
  only:
    - tags
  script:
    - python setup.py bdist_wheel
  artifacts:
    paths:
      - dist/

###############################################################################
#
#                             PUBLISH STAGE
#
###############################################################################

pages:
  # when: manual
  stage: publish
  tags: [ci.inria.fr]
  only:
    - tags
  dependencies:
    - doc
  script:
    - mkdir -p public/
    - cp -r docs/_build/html/* public/
  artifacts:
    paths:
      - public

pypi:
  image: python:3.9
  stage: publish
  tags: [ci.inria.fr]
  only:
    - tags
  dependencies:
    - package
  script:
    - pip install twine
      # credentials are set in the env by gitlab
    - twine upload dist/* --verbose
