# http://stackoverflow.com/a/24727824
# https://www.youtube.com/watch?v=o-UbWsO9rZk
include LICENSE.txt
include enoslib/version.txt

recursive-include enoslib/ansible *
recursive-include enoslib/html *
recursive-include enoslib/infra *.py *.j2 *.yml
recursive-include enoslib/infra/enos_fabric *.sh
recursive-include enoslib/service *.py *.j2 *.yml *.fact
