- name: Starting the Docker registry
  docker_container:
    name: registry
    image: registry:2
    state: started
    restart_policy: always
    detach: true
    ports:
      # make the registry listen on all addresses
      # in the future, we may want to use a specific network
      - "0.0.0.0:{{ registry.port }}:5000"
    env:
      REGISTRY_PROXY_REMOTEURL: https://registry-1.docker.io
      REGISTRY_STORAGE_FILESYSTEM_ROOTDIRECTORY: /mnt/registry
    volumes:
      - '/mnt/registry:/mnt/registry'

- name: Waiting for the registry service to become available
  wait_for:
    host: "{{ registry.ip }}"
    port: "{{ registry.port }}"
    state: started
    delay: 2
    timeout: 120
