[Unit]
Description=Edge to Cloud ML service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/usr/bin/env python3 /tmp/predict_loop.py

[Install]
WantedBy=multi-user.target